
@{
    ViewBag.Title = "AdminCrud";
}

<h2>AdminCrud</h2>

<li>@Html.ActionLink("View Carts", "Index", "CartAdmin")</li>
<li>@Html.ActionLink("View Products", "Index", "Product")</li>
<li>@Html.ActionLink("View Customers", "Index", "Customer")</li>
<li>@Html.ActionLink("Lucky Draw", "DisplayLuckyDraw", "CartAdmin")</li>