<h1> Contact Us</h1>

<p>Thank you for visiting us. If you have further inquiries or information feel free to call on our toll free number.  </p></br>

<h1> Our Contact Information</h1>
<p><b>Email</b> infor@Fleming.com</p>
<p><b>Phone number</b> +974-77885544</p>

<h1>Address</h1>
<p>
    795 Al Sadd, AHZ 600<br>
    Doha, Qatar  94107<br>
    P: (974) 4568-7890
</p>

<i class="fa fa-twitter" style="font-size:24px;color:lightsteelblue"></i>
<i class="fa fa-facebook" style="font-size:24px;color: dodgerblue"></i>
<i class="fa fa-snapchat" style="font-size:24px;color:yellow"></i>